
@font-face {
  font-family: "SF_Pro_Display";
  src: url("../public/fonts/sf_pro_display/SFPRODISPLAYMEDIUM.OTF");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SF_Pro_Display";
  src: url("../public/fonts/sf_pro_display/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SF_Pro_Display";
  src: url("../public/fonts/sf_pro_display/FontsFree-Net-SFProDisplay-Heavy-1.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'SF_Pro_Display';
    background-color: #232323;
    color: rgba(255, 255, 255, 0.87);
}
h1,h2,h3{
  line-height: 24px;
  font-weight: 700;
  margin:0;
  padding: 0;
}
h4,h5,h6{
  font-weight: 500;
  margin:0;
  padding: 0;
}
p{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
    font-size: 13px;
    line-height: 16px;
  
}
a {
  color: inherit;
  text-decoration: none;
}
.swiper-button-disabled{
  opacity: 0!important;
}

* {
  box-sizing: border-box;
}
.swiper{
  background: #131313;
  position: unset!important;               
}
.swiper-button-next{
  top: 27%!important;
  right: 5%!important;
  left: auto;
  color: #fff!important;
   
} 
@media screen and (max-width: 1920px) {
  .swiper-button-next {
    top: 27%!important;
  }
}
@media screen and (max-width: 1720px) {
  .swiper-button-next {
    top: 27%!important;
  }
}
@media screen and (max-width: 1520px) {
  .swiper-button-next {
    top: 27%!important;
  }
}
@media screen and (max-width: 1376px) {
  .swiper-button-next {
    top: 38%!important;
  }
}

@media screen and (max-width: 991px) {
  .swiper-button-next {
    display: none!important;

  }
}
@media screen and (max-width: 768px) {
  .swiper-button-next {
    display: none!important;
  }
}
.swiper-button-prev{
  display: none!important;
}
.indicatorContainer{
  background: #131313!important;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #232323; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#131313; 
  border-radius: 2px;
}
.swiper-wrapper{
  z-index: 0!important;
}
.swiper-slide{
  margin-right: 20px!important;
}